PLATFORM_MODE=self
PORT=8080
STUN_PORT=3478
STUN_URL=auto
ICE_PORT_MIN=40000
ICE_PORT_MAX=40050
NODE_GEO_AUTO_DETECT=true
NODE_GEO_API=https://ipwho.is
# NAT_1TO1_IP=203.0.113.10
# NODE_HIDE_IP=false
# RUST_LOG=info
